<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.liujin.wuxio.systemui">

      <application
          android:allowBackup="true"
          android:icon="@mipmap/ic_launcher"
          android:label="@string/app_name"
          android:roundIcon="@mipmap/ic_launcher_round"
          android:supportsRtl="true"
          android:theme="@style/AppTheme">
            <activity android:name=".MainActivity">
                  <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>

                        <category android:name="android.intent.category.LAUNCHER"/>
                  </intent-filter>
            </activity>
            <activity android:name="tech.liujin.wuxio.systemui.TranslucentActivity">
            </activity>
            <activity android:name="tech.liujin.wuxio.systemui.TransparentActivity"/>
            <activity android:name="tech.liujin.wuxio.systemui.Gold44Activity"/>
            <activity android:name="tech.liujin.wuxio.systemui.Blue44Activity"/>
            <activity android:name="tech.liujin.wuxio.systemui.Gold50Activity"/>
            <activity android:name="tech.liujin.wuxio.systemui.Blue50Activity"/>
      </application>

</manifest>